infra/n8n/workflows/wf2-rss-ingest.json
{
  "name": "WF2 - RSS to Vault",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rss-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "RSS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rss-ingest"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst body = $input.first().json.body || $input.first().json;\nconst title = body.title || body.subject || 'Untitled';\nconst url = body.url || body.link || '#';\nconst summary = (body.summary || body.description || '').toString().slice(0, 200);\nconst d = new Date();\nconst yyyy = d.getFullYear();\nconst mm = String(d.getMonth() + 1).padStart(2, '0');\nconst dd = String(d.getDate()).padStart(2, '0');\nconst filePath = `/vault/inbox/rss/${yyyy}-${mm}-${dd}.md`;\nconst hh = String(d.getHours()).padStart(2, '0');\nconst mi = String(d.getMinutes()).padStart(2, '0');\nconst line = `- ${hh}:${mi} [${title}](${url}) — ${summary}\\n`;\nfs.mkdirSync(path.dirname(filePath), { recursive: true });\nif (!fs.existsSync(filePath)) {\n  const header = `---\\ncreated: ${yyyy}-${mm}-${dd}\\ntype: rss-digest\\n---\\n\\n# ${yyyy}-${mm}-${dd} RSS\\n\\n`;\n  fs.writeFileSync(filePath, header, 'utf8');\n}\nfs.appendFileSync(filePath, line, 'utf8');\nreturn [{ json: { ok: true, written: filePath, title } }];"
      },
      "id": "append",
      "name": "Append to Daily File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=ok: {{ $json.written }}"
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "RSS Webhook": { "main": [[{ "node": "Append to Daily File", "type": "main", "index": 0 }]] },
    "Append to Daily File": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
